@import "../../styles/partials/global.scss";
@import "../../styles/partials/variables.scss";
@import "../../styles/partials/mixins.scss";

.otherVideos {
  display: flex;
  justify-content: center;

  &__section {
    padding: $sidePaddingMobile;
    padding-top: (0.5 * $sidePaddingMobile);
    width: 100vw;
    margin: 0;
  }
  &__heading {
    margin: 0;
    @include sectionHeading;
    color: $secondary;
    text-transform: uppercase;
    &-container {
      display: flex;
      margin-bottom: $sidePaddingMobile;
    }
  }
  &__item-container {
    display: flex;
    margin-bottom: 0.5rem;
  }
  &__thumbnail {
    width: 35vw;
    height: 12vh;
    border-radius: 6px;
    object-fit: cover;
    image &-container {
      width: 30vw;
    }
  }
  &__channel {
    margin: 0;
  }
  &__title {
    margin: 0;
    font-weight: bold;
    &-container {
      align-self: start;
    }
  }
  &__text-container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include bodyCopy;
  }
}
