@import './breakpoints.scss';
@font-face {
    font-family: "Avenir";
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("otf");
  }

  body {
    font-family: "Avenir";
    margin: 0px;
  }



.button{
  &__icon{
    margin-right: 30%;
    @include tablet{
      margin-right: 18%;
    }
  }
  &__label{
  display: flex;
    justify-self: center;
}}