
$primary: #323232;
$primaryCTA: #0095FF;
$secondary: #AFAFAF;
$background: #FFFFFF;
$CTAText: #FFFFFF;
$playerComponent: #000000;
$CTAHover: #0065AD;
$divider: #E1E1E1;
$formBackground: #FAFAFA;


$sidePaddingMobile: 16px;
$sidePaddingTablet: 36px;
