@import "./styles/partials/breakpoints.scss";

.App {
  width: 100vw;
}
.main {
  
  display: flex;
  flex-direction: column;
  margin: 0;
  @include desktop {
    flex-direction: row;
  }
}
.selectedVid{
  @include desktop{
    width: 60%;
  }
}
